<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.miky.WebStudy.Dao.LoginRecordMapper" >
  <resultMap id="BaseResultMap" type="com.miky.WebStudy.Entity.LoginRecord" >
    <id column="login_mac" property="loginMac" jdbcType="VARCHAR" />
    <id column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="last_login_time" property="lastLoginTime" jdbcType="TIMESTAMP" />
    <result column="user_password" property="userPassword" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    login_mac, user_id, user_name, last_login_time, user_password
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.miky.WebStudy.Entity.LoginRecordKey" >
    select 
    <include refid="Base_Column_List" />
    from login_record
    where login_mac = #{loginMac,jdbcType=VARCHAR}
      or user_id = #{userId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.miky.WebStudy.Entity.LoginRecordKey" >
    delete from login_record
    where login_mac = #{loginMac,jdbcType=VARCHAR}
      and user_id = #{userId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.miky.WebStudy.Entity.LoginRecord" >
    insert into login_record (login_mac, user_id, user_name, 
      last_login_time, user_password)
    values (#{loginMac,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{lastLoginTime,jdbcType=TIMESTAMP}, #{userPassword,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.miky.WebStudy.Entity.LoginRecord" >
    insert into login_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="loginMac != null" >
        login_mac,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="lastLoginTime != null" >
        last_login_time,
      </if>
      <if test="userPassword != null" >
        user_password,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="loginMac != null" >
        #{loginMac,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginTime != null" >
        #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userPassword != null" >
        #{userPassword,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.miky.WebStudy.Entity.LoginRecord" >
    update login_record
    <set >
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginTime != null" >
        last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userPassword != null" >
        user_password = #{userPassword,jdbcType=VARCHAR},
      </if>
    </set>
    where login_mac = #{loginMac,jdbcType=VARCHAR}
      and user_id = #{userId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.miky.WebStudy.Entity.LoginRecord" >
    update login_record
    set user_name = #{userName,jdbcType=VARCHAR},
      last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      user_password = #{userPassword,jdbcType=VARCHAR}
    where login_mac = #{loginMac,jdbcType=VARCHAR}
      and user_id = #{userId,jdbcType=VARCHAR}
  </update>
</mapper>