html, body {
    height: 100%;
    width: 100%;
}

body {
    border: 0;
    margin: 0;
    background-color: rgba(217, 217, 217, 1);
    font-family: "microsoft yahei", "Times New Roman", "宋体", Times, serif;
}

.navibar {
    width: 200px !important;
}

.incorrect {
    color: red;
    text-align: left;
}

.topbar {
    height: 60px !important;
    background-color: rgba(78, 108, 198, 1);
    color: rgba(255, 255, 255, 1);
    text-align: left !important;
}

.buttonBase {
    width: 150px;
    height: 30px;
    background-color: royalblue;
    color: white;
    cursor: pointer;
    line-height: 30px;
    position: relative;
    border: 0px;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.enable:hover {
    background-color: rgba(46, 211, 214, 1) !important;
}

.enable:active {
    background-color: rgba(0, 70, 199, 1) !important;
}

.textBase {
    background-color: #ffffff;
    border: 0;
    min-width: 100px;
}

input:disabled {
    background: grey !important;
    color: #ccc !important;
}

.blockPane {
    background-color: rgba(196, 196, 196, 1);
    opacity: 0.7;
    width: 100%;
    position: absolute;
    z-index: 101;
}

.cd-popup {
    margin: 15% 40%;
    opacity: 0;
    position: absolute;
    visibility: hidden;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
    width: 300px;
    height: 100px;
    background-color: rgba(134, 173, 218, 1);
    z-index: 102;
    color: #FFFFFF;
}

.cd-popup.is-visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s 0s, visibility 0s 0s;
}
.cd-popup-container {
    transform: translateY(-40px);
    transition-property: transform;
    transition-duration: 0.3s;
    text-align: center;
    font-size: 20px;
}
.is-visible .cd-popup-container {
    transform: translateY(0);
}

.buttonBase.alert {
    float: left;
}

.preview {
    float: right;
    width: 49%;
    height: 75%;
    position: relative;
    top: 30px;
}

.buttonBase.alert:nth-child(odd) {
    background-color: rgba(101, 78, 177, 1);
}
