@CHARSET "UTF-8";
body {
    overflow: hidden;
}

#header {
    width: 100%;
    font-size: 30px;
    text-align: center;
    overflow: hidden;
    position: relative;
    height: 30%;
}

#createPage {
    position: relative;
    top: 1%;
    width: 86%;
    height: 100%;
    display: none;
    margin-left: 200px;
}

#userPage {
    display: none;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

#create {
    background-color: white;
    border: 0;
    position: relative;
    overflow: hidden !important;
}

#navigater {
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
    float: left;
}

.page {
    min-width: 180px;
    width: 15%;
    margin: 10px 0 10px 0;
}

#title {
    position: relative;
    top: 20%;
    width: 200px;
    left: 1%;
}

