.fileContainer {
    position: relative;
    width: 90px;
    float: left;
    text-align: center;
    margin: 10px;
    height: 135px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.fileControl {
    width: 100px;
    float: right;
    margin-left: 5px;
}

.readContainer {
    position: fixed;
    width: 50%;
    height:90%;
    left: 25%;
    top: 3%;
    z-index: 104;
}

.readFrame{
    width: 100%;
    height: 100%;
}

.toolbar {
    height: 5%;
    width: 100%;
    background-color: rgba(217, 217, 217, 1);
}

.container2 {
    height: 83% !important;
    margin-bottom: 1%;
    background-color: #FFFFFF;
}

.fileContainer:hover {
    background-color: rgba(78, 108, 198, 1);
    color: #FFFFFF;
    box-shadow: 2px 2px 3px rgba(50,50,50,0.4);
}

.fileContainer:active {
    background-color: rgba(0, 70, 199, 1) !important;
}

.container {
    box-shadow: 2px 2px 3px rgba(50,50,50,0.4);
    width: 100%;
    height: 100%;
}

.singleFile {
    margin-top: 110px;
    position: relative;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.singleFile:hover, .singleFile:focus {
    word-wrap: break-word;
    word-break: break-all;
    background-color: rgba(78, 108, 198, 1);
    z-index: 102;
}

.fileContainer > img {
    top: 5%;
    left: 50%;
    margin-left: -38px;
    width: 75px;
    position: absolute;
}
