.userTable {
    position: relative;
    width: 100%;
}

.userPane {
    right: 10px;
    top: 5px;
    position: fixed;
    width: 185px;
    height: 50px;
    font-size: 13px;
}

.userPane > div:nth-child(2) {
    left: 55px;
    top: 0px;
    position: absolute;
}

.userPane > div:nth-child(3) {
    position: absolute;
    left: 55px;
    bottom: 0px;
}

img {
    width: 50px;
    left: 0px;
    position: absolute;
}

#loginTable {
    position: absolute;
    width: 20%;
}

#registerTable {
    position: absolute;
    width: 20%;
}

.loginLine {
    height: 30px;
    display: block;
    width: 100%;
    margin: 0px 0px 10px 0px;
}

.register {
    float: left;
    width: 45% !important;
}

#login {
    float: right;
    width: 45%;
}

.registerLine {
    margin: 0px 0px 10px 25% !important;
}
